<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <application>
    <locations>
      <source>d:\Data\dgnxlsx\</source>
      <destination>d:\Data\dgnxlsx\test.xlsx</destination>
    </locations>
  </application>
  <sheets>
    <sheet>
      <name>actielijst</name>
      <headerrow>0</headerrow>
      <elements>
        <columns>
          <column>
            <header>Nr</header>
            <headercol>0</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Datum</header>
            <headercol>1</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Actie</header>
            <headercol>2</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Wie</header>
            <headercol>3</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Gereed</header>
            <headercol>4</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Status</header>
            <headercol>5</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Opmerkingen</header>
            <headercol>6</headercol>
            <width>0</width>
          </column>
        </columns>
      </elements>
    </sheet>
    <sheet>
      <name>besluitenlijst</name>
      <headerrow>0</headerrow>
      <elements>
        <columns>
          <column>
            <header>Nr</header>
            <headercol>0</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Datum</header>
            <headercol>1</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Besluit</header>
            <headercol>2</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Opmerkingen</header>
            <headercol>3</headercol>
            <width>0</width>
          </column>
        </columns>
      </elements>
    </sheet>
    <sheet>
      <name>issuelijst</name>
      <headerrow>0</headerrow>
      <elements>
        <columns>
          <column>
            <header>Nr</header>
            <headercol>0</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Datum</header>
            <headercol>1</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Omschrijving</header>
            <headercol>2</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Prioriteit</header>
            <headercol>3</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Categorie</header>
            <headercol>4</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Melder</header>
            <headercol>5</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Wie</header>
            <headercol>6</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Status</header>
            <headercol>7</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Opgelost</header>
            <headercol>8</headercol>
            <width>0</width>
          </column>
          <column>
            <header>Opmerkingen</header>
            <headercol>9</headercol>
            <width>0</width>
          </column>
        </columns>
      </elements>
    </sheet>
  </sheets>
</settings>
